body {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	font-size: 18px;
}

div, p, input, header, a, form {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

h1 {
    width: 147px;
}

a {
	text-decoration: none;
}

.container {
	width: 943px;
	margin: 0 auto;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.header {
    padding-top: 33px;
    padding-bottom: 105px;
}

.header a {
	color: #070707;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.header a:hover {
    background-size: 100% 2px;
}

.nav-menu {
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
}

.horizontal-line {
    width: 943px;
    border: 0.5px solid #828282;
    
}

.offer {
    padding-top: 40px;
}

.offer-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
}

.pre-info {
    font-weight: 500;
    width: 172px;
    margin: 0;
    margin-top: 41px;

}

.language {
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    
}

.ENG {
    color: #000000;
}

.RU {
    color: #828282;
}

.change {
    transform: rotate(-90deg);
    margin-right: -10px;
}

.Denis {
    margin-top: 50px;
}


.about {
    padding-top: 120px;
    padding-bottom: 100px;
    background: #F6F6F6;
}

.about-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meet {
    width: 444px;
    height: 225px;
    margin: 0;
    margin-top: 18px;
    
}

h3 {
    font-size: 34px;
}

.skills {
    padding-top: 90px;
    padding-bottom: 110px;
}

.skills p {
    font-weight: 700;
    font-size: 14px;
    
    color: #828282;
}

.skill-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.programs {
    margin-top: 58px;
}

.program-card1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.name-card {
    width: 85px;
    text-align: center;
}

.name-card3 {
    width: 96px;
    text-align: center;
}

.name-card4 {
    width: 50px;
    text-align: center;
    margin-top: 32px;
}

.all-programs {
    display: flex;
    margin-top: 83px;
    justify-content: space-between;
}

.program-card2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 90px;
}

.program-card3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 90px;
}

.program-card4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 90px;
}

.portfolio {
    padding-top: 113px;
    padding-bottom: 96px;
    background: #F6F6F6;
}

.fasion-store {
    margin-top: 47px;
}

.link-to-site p {
    margin: 0;
    margin-top: 45px;
    color: #070707;
    text-decoration-line: underline;
}

.portfolio-title1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.reebok {
    margin-top: 99px;
}

.portfolio-title2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.portfolio-title3 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer {
    padding-top: 114px;
    padding-bottom: 123px;
}

.feedback {
    width: 434px;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}

.contacts {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contacts a {
    color: #ffffff;
}

.btn {
    margin-top: 30px;
    background: #070707;
    border-radius: 25px;
    display: block;
    width: 271px;
    padding: 12px 27px;
    text-align: center;
    height: 46px;
}

.btn:hover {
	background: rgb(121, 121, 121);
    transition: all 0.5s ease;
}

.social {
    margin-top: 86px;
    display: flex;
    align-items: center;
    justify-content: center
}

.social-in2 {
    margin-left: 73px;
}

.social-info {
    margin-top: 46px;
    font-size: 14px;
    text-align: center;
    color: #828282;    
}

.upbtn {
    z-index: 9999;
    width: 65px;
    height: 65px;
    position: fixed;
    bottom: -80px;
    right: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .7s ease-in-out;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #000000;
    background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjMycHgiIGhlaWdodD0iMzJweCIgdmlld0JveD0iMCAwIDQ0NC44MTkgNDQ0LjgxOSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDQ0LjgxOSA0NDQuODE5OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxnPgoJPHBhdGggZD0iTTQzMy45NjgsMjc4LjY1N0wyNDguMzg3LDkyLjc5Yy03LjQxOS03LjA0NC0xNi4wOC0xMC41NjYtMjUuOTc3LTEwLjU2NmMtMTAuMDg4LDAtMTguNjUyLDMuNTIxLTI1LjY5NywxMC41NjYgICBMMTAuODQ4LDI3OC42NTdDMy42MTUsMjg1Ljg4NywwLDI5NC41NDksMCwzMDQuNjM3YzAsMTAuMjgsMy42MTksMTguODQzLDEwLjg0OCwyNS42OTNsMjEuNDExLDIxLjQxMyAgIGM2Ljg1NCw3LjIzLDE1LjQyLDEwLjg1MiwyNS42OTcsMTAuODUyYzEwLjI3OCwwLDE4Ljg0Mi0zLjYyMSwyNS42OTctMTAuODUyTDIyMi40MSwyMTMuMjcxTDM2MS4xNjgsMzUxLjc0ICAgYzYuODQ4LDcuMjI4LDE1LjQxMywxMC44NTIsMjUuNywxMC44NTJjMTAuMDgyLDAsMTguNzQ3LTMuNjI0LDI1Ljk3NS0xMC44NTJsMjEuNDA5LTIxLjQxMiAgIGM3LjA0My03LjA0MywxMC41NjctMTUuNjA4LDEwLjU2Ny0yNS42OTNDNDQ0LjgxOSwyOTQuNTQ1LDQ0MS4yMDUsMjg1Ljg4NCw0MzMuOTY4LDI3OC42NTd6IiBmaWxsPSIjRkZGRkZGIi8+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==)
}
.upbtn:hover {
    opacity: 1;
    background-color: #636363;
}


#lang {
    display: none;
  }
  #lang:checked ~ .rus,   
  #lang:not(:checked) ~ .eng {
    display:none;
  }
  label[for="lang"] {
    user-select: none;
    cursor: pointer;
  }

@media screen and (max-width: 1200px) {
	.container {
		width: 943px;
	}
}

@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
	
    .horizontal-line {
        width: 100%;
    }

    .all-programs {
    display: flex;
    flex-direction: column;
    }

    .program-card2, .program-card3, .program-card4 {
        margin-left: 0;
        margin-top: 50px;
    }

    .Denis {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}

    .fasion-store, .reebok {
        max-width: 100%;
    }
}

@media screen and (max-width: 576px) {
	.container {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media screen and (max-width: 414px) {
	.container {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}

    .nav-menu {
        font-size: 13px;
    }
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 999;
    animation: fade .6s;
    overflow: auto;
}

.popup {
    top: 25%;
    left: 0;
    right: 0;       
    font-size: 14px;
    margin: auto;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    position: absolute;
    padding: 15px 20px;
    border: 1px solid #383838;
    background: #ffffff;
    z-index: 1000;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.close {
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    position: absolute;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    outline: none;
 
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s ease;
}
.close:hover {
    background-color: rgba(192, 192, 192, 0.8);
}




